#picture_viewer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.95);
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: none;

}

#closing_bar {
    float: right;
    margin: 20px;
}

#closing_bar img {    
    width: 32px;
    height: 32px;
    opacity: 0.8;
}

#closing_bar img:hover {
    opacity: 1;
    cursor: pointer;
}

#picture_bar img {
    position: fixed;
    width:auto;
    max-width: 90%;
    max-height: 800px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}